.myInput {
   width: 30%;
   font-size: 16px;
   padding: 5px 15px;
   margin: 5px 0;
   border: 1px solid teal;
   justify-content: center;
   border-radius: 5px;
}

.myInput:focus {
   outline: none;
}