

body{
   font-family: 'Helvetica', sans-serif;
   background: #F5F1EE;
   padding: 10px 50px;
}

button {
   cursor: pointer;
}

.divBar {
   border: 2px solid #5F50A9;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 15px 30px;
   margin: 10px;
   border-radius: 15px;
   color: #9652C2;
}

.divBar button {
   width: 70px;
   height: 30px;
}

.h1 {
   text-align: center;
   font-size: 38px;
   margin: 30px 0 10px 0;
}

form {
   text-align: center;
}

form div {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.elmNotFound {
   text-align: center;
   font-size: 30px;
   opacity: .5;
}

.elmNotFound:nth-child(2) {
   margin-top: 230px;
}

.divSelected{
   text-align: center;
   font-size: 24px;
   margin-bottom: 40px;
}

.divPostItem {
   text-align: center;
}




